<center>
<th>Contact Us</th><br><br><br>
    <div class="form-group">
        <label for="name">Name: </label>
            <input class="form-control" type="text" id="name">
        <label for="email">Email: </label>
            <input class="form-control" type="email" id="email"> 
        <label for="comment">Comment:</label>
            <textarea class="form-control" rows="5" id="comment"></textarea>
    </div>
</center>

    <!--<form>
        
        <table class="tb-tr">
            
            <tr>
                Name : <input type="text">
                <br><br>
                Email: <input type="email" id="email">
                <br><br>
                Subject : <textarea class="form-control" id="comment" rows="5" cols="30" >

                </textarea>
            </tr>
        </table>
    </form>-->